<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div lang="en" th:replace="main/nav-bar :: nav.navbar"></div>
    <div lang="en" th:replace="main/side-bar :: div.sidenav"></div>
    <!--Body-->
    <div class="main container" style="margin-left: 16%; margin-top: 2%;" >

        <nav aria-label="breadcrumb" style="margin: 0px 5% 2% 3%;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page" style="font-size: 18px">
                    <a th:href="${'/departments'}">Departments</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" style="font-size: 18px">
                    <a th:text="${department.name}"></a>
                </li>
                <li class="breadcrumb-item" aria-current="page" style="font-size: 18px">Courses</li>
            </ol>
        </nav>
        <div class="row" style="margin-top: 3%; margin-left: 3%; margin-right: 5%">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Title</th>
                    <th scope="col">Credit value</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${courses}">
                    <th scope="row" th:text="${course.id}"></th>
                    <td th:text="${course.code}"></td>
                    <td th:text="${course.title}"></td>
                    <td th:text="${course.creditValue}"></td>
                    <td th:text="${course.semester}"></td>
                    <td>
                        <a role="button" th:href="${'/departments/' + department.id + '/courses/' + course.id}" class="btn btn-warning">Take</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
