<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div lang="en" th:replace="main/nav-bar :: nav.navbar"></div>
    <div lang="en" th:replace="main/side-bar :: div.sidenav"></div>
    <!--Body-->
    <div class="main container" style="margin-left: 16%; margin-top: 2%;" >
        <div style="margin-top: 18%; margin-left: 20%; margin-right: 25%">
            <form th:action="@{'/departments/create/'}" th:object="${department}" th:method="post">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" th:field="${department.name}" th:value="${department.name}">
                    </div>
                </div>
                <div  style="margin-top: 5%; margin-left: 80%">
                    <button class="btn" name="submit" value="Update" type="submit" th:text="Update" style="color: #FFF; background-color: #111"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
