<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div layout:fragment="content">
        <div lang="en" th:replace="main/nav-bar :: nav.navbar"></div>
        <div lang="en" th:replace="main/side-bar :: div.sidenav"></div>
        <!--Body-->
        <div class="main container" style="margin-left: 16%; margin-top: 2%" >
            <p style="font-size: 25px">Welcome</p>
            <hr>
            <div class="row" style="margin-top: 15%; margin-left: 3%">
                <div class="col-sm-4">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Courses</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Add</a>
                            <a href="/courses" class="card-link">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card col 4" style="width: 20rem;">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Options</h6>
                            <p class="card-text">Some quick text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Add</a>
                            <a href="/departments" class="card-link">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card col 4" style="width: 20rem;">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Users</h6>
                            <p class="card-text">Some quick text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="/users/create" class="card-link">Add</a>
                            <a href="/users" class="card-link">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
