spring:
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://localhost:3306/course_management?autoReconnect=true&useSSL=false
    username: <mysql username>
    password: <mysql password>
    driver-class-name: com.mysql.jdbc.Driver

