<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div lang="en" th:replace="main/nav-bar :: nav.navbar"></div>
    <div lang="en" th:replace="main/side-bar :: div.sidenav"></div>
    <!--Body-->
    <div class="main container" style="margin-left: 16%;" >
        <div style="margin-top: 4%; margin-left: 20%; margin-right: 25%">
            <nav aria-label="breadcrumb" style="margin-bottom: 2%; margin-right: 12%">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page" style="font-size: 18px">
                        <a th:href="${'/courses/' + course.id}">Courses</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" style="font-size: 18px" th:text="${course.id}"></li>
                </ol>
            </nav>
            <form th:action="@{'/courses/update/'+ ${course.id}}" th:object="${course}" th:method="post">
                <div class="form-group row">
                    <label for="code" class="col-sm-2 col-form-label">Code</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="code" th:field="${course.code}" th:value="${course.code}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="title" th:field="${course.title}" th:value="${course.title}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="creditValue" class="col-sm-2 col-form-label">Credit Value</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="creditValue" th:field="${course.creditValue}" th:value="${course.creditValue}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="semester" class="col-sm-2 col-form-label">Semester</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="semester" th:field="${course.semester}">
                            <option value="First Semester">First Semester</option>
                            <option value="Second Semester">Second Semester</option>
                            <option value="Resist Semester">Resist Semester</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="department" class="col-sm-2 col-form-label">Options</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="department" th:field="${course.departments}" multiple size="3">
                            <option th:each="department : ${departments}" th:field="${course.departments}"
                                    th:text="${department.name}" th:value="${department.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="user" class="col-sm-2 col-form-label">Lecturers</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="user" th:field="${course.users}" multiple size="3">
                            <option th:each="user : ${users}" th:field="${course.users}"
                                    th:text="${user.firstName + ' ' + user.lastName}" th:value="${user.id}"></option>
                        </select>
                    </div>
                </div>
                <div  style="margin-top: 5%; margin-left: 80%">
                    <button class="btn" name="submit" value="Update" type="submit" th:text="Update" style="color: #FFF; background-color: #111"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
