<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div lang="en" th:replace="main/nav-bar :: nav.navbar"></div>
    <div lang="en" th:replace="main/side-bar :: div.sidenav"></div>
    <!--Body-->
    <div class="main container" style="margin-left: 16%;" >
        <div class="row" style="margin-top: 8%; margin-left: 20%; margin-right: 25%">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Property</th>
                    <th scope="col">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Code</td>
                    <td th:text="${course.code}"></td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td th:text="${course.title}"></td>
                </tr>
                <tr>
                    <td>Credit value</td>
                    <td th:text="${course.creditValue}"></td>
                </tr>
                <tr>
                    <td>Semester</td>
                    <td th:text="${course.semester}"></td>
                </tr>
                <tr>
                    <td>Option</td>
                    <td>
                        <p th:each="department : ${course.departments}">
                            <span th:text="${department.name}"></span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>Lecturers</td>
                    <td>
                        <p th:each="lecturer : ${lecturers}">
                            <span th:text="${lecturer.firstName + ' ' + lecturer.lastName}"></span>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
            <div  style="margin-top: 5%; margin-left: 85%">
                <a role="button" th:href="${'/courses/edit/' + course.id}" class="btn" style="color: #FFF; background-color: #111">Edit</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
